$border: 1px solid #c2c0c2;
$border-active: 1px solid #8a8a8a;
$box-shadow-active: 0 0 5px #cacaca;
$transition-fast-linear: all 0.2s linear;
$color-inactive: #888;
$color-active: #0a0a0a;

/* css */

.btn-toolbar {
    border-radius: 0;
    border-top: none;
    border-left: none;
}

.card {
    color: $color-inactive;
    width: 100%;
    padding: 1rem;
    border: $border;
    transition: $transition-fast-linear;
    label {
        color: $color-inactive;
    }
}

.card-active {
    color: $color-active;
    border: $border-active;
    box-shadow: $box-shadow-active;
    label {
        color: $color-active;
    }
}

.centered {
    label {
        text-align: center;
        display: block;
    }
    input[type="radio"] {
        display: block;
        margin: 0 auto;
    }
}

.one-line {
    display: flex;
    width: 100%;
}